/*
    Auther: Abdelrhman Said
    Codepen: https://codepen.io/abdelrhmansaid/pen/OJRNOpQ
    
    Editor: AHmad
    Github: https://github.com/AHmadKhalil97
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  place-items: center;
  background: linear-gradient(315deg, #ffffff, #d7e1ec);
}

.wrapper {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.wrapper .button {
  position: relative;
  background: #ffffff;
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  text-align: center;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: '';
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .button:hover .tooltip {
  top: -65px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .button:hover span,
.wrapper .button:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .button:hover,
.wrapper .button:hover .tooltip,
.wrapper .button:hover .tooltip::before {
  background: #1da1f2;
  color: #ffffff;
}
